# SEMANA 03
Mg. Flor Elizabeth Cerdán León

# Temas:
1. Números
2. Variables
3. Manejo de Cadenas
4. Ingreso de Datos por Teclado
5. Operadores

5. Operadores

In [ ]:
# 5.1 Operadores aritméticos
# Se tiene: +,-,*,/,**,%,//

In [11]:
numero1 = 10
numero2 = 3
suma = numero1 + numero2
resta = numero1 - numero2
multiplicacion = numero1 * numero2
division = numero1 / numero2
residuo = numero1 % numero2
cociente =numero1 // numero2
potencia = numero1 ** numero2
print(suma)
print(resta)
print(multiplicacion)
print(division)
print(residuo)
print(cociente)
print(potencia)

13
7
30
3.3333333333333335
1
3
1000

In [ ]:
# 5.2 Operadores de Asignación
# Se tiene: =, +=, -=, *=, /=, **=

In [13]:
numero = 5
numero = numero + 3
print(numero)

8

In [14]:
# La operación anterior tambien se puede expresar de la siguiente manera:
numero = 5
numero += 3
print(numero)

8

In [15]:
# Lo mismo se puede hacer con todos los casos, incluso con la potencia
# Ejemplo:
numero = 5
numero = numero ** 3
print(numero)

125

In [16]:
# La operación anterior tambien se puede expresar de la siguiente manera:
numero = 5
numero **= 3
print(numero)

125

In [17]:
# 5.3 Operadores de Comparación
# Se tiene: ==,!=,<,>,<=, >=,

In [18]:
# Ejemplo de igualdad ==
numero1 = 5
numero2 = 2
numero1 == numero2

False

In [19]:
# Con las cadenas funciona igual
nombre1 = "Juan"
nombre2 = "Juan"
nombre1 == nombre2

True

In [20]:
# 5.4 Operadores Lógicos
# Se tiene: and, or, not
numero1 = 5
numero2 = 6
numero3 = 7
numero4 = 8

In [21]:
numero1 <numero2

True

In [22]:
# El not invierte el resultado
not(numero1<numero2)

False

In [23]:
numero1<numero2 and numero3<numero4

True

In [24]:
# Tambien puedes utilzar paréntesis para ordenar tu operación
(numero1<numero2 and numero3<numero4) or (numero3>numero4)

True

In [25]:
# 5.5 Operadores de Pertenencia
# Se tiene: in, not in

In [26]:
# Miremos un ejemplo:
aula = ["Juan", "Daniel", "Rubén"]
alumno1 = "Diego"
alumno2 = "Juan"

In [27]:
# ¿Diego está en aula?
alumno1 in aula

False

In [28]:
# ¿Juan está en aula?
alumno2 in aula

True

In [29]:
# ¿Diego no nestá en aula?
alumno1 not in aula

True

In [30]:
# ¿Juan no está en aula?
alumno2 not in aula

False

In [31]:
# 5.6 Operadores de Identidad
# Se tiene: is, is not

In [32]:
aula1 = ["Juan", "Daniel", "Ruben"]
aula2 = ["Juan", "Daniel", "Ruben"]

# A continuación vamos a indicar que aula3 va a compartir el mismo objetoque aula1

aula3 = aula1

In [33]:
# ¿aula3 comparte el objeto que aula1?
aula3 is aula1

True

In [35]:
# ¿aula3 comparte el objeto que aula2?
aula3 is aula2

False

In [36]:
# ¿aula2 comparte el objeto que aula1?
aula2 is aula1

False

In [37]:
aula1.append("Diego")

In [38]:
# Al imprimir los elementos de la lista aula1 se observa
print(aula1)

['Juan', 'Daniel', 'Ruben', 'Diego']

In [39]:
# Al imprimir los elementos de la lista aula3 se observa
print(aula3)

['Juan', 'Daniel', 'Ruben', 'Diego']

In [40]:
# Al imprimir los elementos de la lista aula2 se observa
print(aula2)

['Juan', 'Daniel', 'Ruben']